/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

img {
    width: 100%;
    border-radius: 50%;
}

body {
    background-color: #DBDBD4;
}

.body-header {
    height: 15vh;
    background-color: #009688;
    padding-top: 5vh;
}

.container {
    width: 70vw;
    height: 90vh;
    background-color: #EAEAEA;
    box-shadow: 0px 0px 20px #2e2e2e;
}

.row-header , .row-footer {
    width: 100%;
    margin: 0 auto;
    height: 10%;
    background-color: #EAEAEA;
    border-radius: 5px;
}

/* ASIDE */

.row-bell {
    width: 100%;
    margin: 0 auto;
    height: 9%;
    background-color: #8EDAFC;
}

#bell {
    color: #8EDAFC;
}

.row-search {
    width: 100%;
    margin: 0 auto;
    height: 6%;
}

.contacts {
    padding-top: 10px;
    height: 75%;
    overflow-y: auto;
}

#contact {
    background-color: #ffffff;
    max-width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #d8d8d8;
}

/* MAIN */

main {
    height: 100%;
    background-image: url(../img/mine.jpg);
}

.chat-box {
    height: 80%;
    overflow-y: auto;
    padding: 30px 0;
}

.message {
    padding: 5px;
    min-width: 40%;
    max-width: 60%;
    border-radius: 5px;
    word-wrap: break-word;
    box-shadow: 5px 5px 5px rgb(139, 139, 139);
}

.message-dropdown {
    border: none;
    padding: 0px;
}

.dropdown-menu {
    box-shadow: 2px 2px 5px rgb(71, 71, 71);
}

.dropdown-item:active {
    background-color: rgb(124, 124, 124);
}

/* UTILITY */

.avatar-box {
    width: 50px;
    border-radius: 50%;
}

.l-text {
    font-size: 15px;
}

.m-text {
    font-size: 13px;
}

.s-text {
    font-size: 12px;
}

i {
    padding: 5px;
    color: #b4b4b4;
}

.active {
    background-color: #c5c5c5;
}

.sent {
    background-color: #D5F9BA;
}

.received {
    background-color: #ffffff;
}

.form-control {
    border: 2px solid grey;
}

/* INTERACTIONS */

#contact:hover {
    background-color: #c5c5c5;
    cursor:pointer;
}

i:hover {
    color: #919191;
    cursor: pointer;
}

.message:hover {
    .message-dropdown {
        display: block;
    }
}

.form-control:focus {
    border-color: #898989;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(101, 101, 101, 0.25);
}

/* SCROLL-BAR */

*::-webkit-scrollbar {
    width: 10px;
}
    
*::-webkit-scrollbar-track {
    background: #ffffff;
}
    
*::-webkit-scrollbar-thumb {
    background-color: #919191;
    border-radius: 10px;
    border: 3px solid #ffffff;
}