/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
img {
    width: 100%;
    border-radius: 50%;
}

.avatar-box {
    width: 50px;
    border-radius: 50%;
}

body {
    background-color: #DBDBD4;
}

main {
    height: 100%;
}

.body-header {
    height: 15vh;
    background-color: #009688;
    padding-top: 5vh;
}

.container {
    width: 70vw;
    height: 90vh;
    background-color: #EAEAEA;
}

.row-header , .row-footer {
    width: 100%;
    margin: 0 auto;
    height: 10%;
    background-color: #EAEAEA;
}

.row-bell {
    width: 100%;
    margin: 0 auto;
    height: 9%;
    background-color: #8EDAFC;
}

.row-search {
    width: 100%;
    margin: 0 auto;
    height: 6%;
}

.chat-box {
    height: 80%;
    overflow-y: auto;
}

#bell {
    color: #8EDAFC;
}

main {
    background-image: url(../img/mine.jpg)
}

.contacts {
    padding: 0;
    height: 75%;
    overflow-y: auto;
}

#contact {
    background-color: #ffffff;
    max-width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #d8d8d8;
}

#contact:hover {
    background-color: #c5c5c5;
}

*::-webkit-scrollbar {
width: 10px;
}

*::-webkit-scrollbar-track {
background: #ffffff;
}

*::-webkit-scrollbar-thumb {
background-color: #919191;
border-radius: 10px;
border: 3px solid #ffffff;
}

/* UTILITY */

.l-text {
    font-size: 15px;
}

.m-text {
    font-size: 13px;
}

.s-text {
    font-size: 12px;
}

i {
    color: #b4b4b4;
}

.message {
    padding: 5px;
    max-width: 50%;
    border-radius: 5px;
}

.sent {
    background-color: #D5F9BA;
}

.received {
    background-color: #ffffff;
}